/* Portfolio Style Guide

---- COLOR DEFINITION ----
Portfolio Blue: #1C19C2
Portfolio Orange: #FFA620
Portfolio Background: #FBF8F8

---- FONT DEFINITION -----

*/


/*----------------------------------------------------------------------------------------
GENERAL PAGE
----------------------------------------------------------------------------------------*/

/* Define a style for the main page including color, margins, fonts, etc. */
body {
    font-family: "Anek Latin", sans-serif;
    background-color: #FBF8F8;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
    margin-bottom: 100px;
}

/*----------------------------------------------------------------------------------------
HEADER
----------------------------------------------------------------------------------------*/

/* Establish flex-box for header and navigation */
header {
    display: flex; 
    flex-direction: row;
    margin-bottom: 60px;
}

/* Set style for page header (top left of page) */
.headerTitle {
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
    font: 400 30px sans-serif;
}

/*----------------------------------------------------------------------------------------
NAVIGATION BAR
----------------------------------------------------------------------------------------*/

/* Set the font and establish flex-box of navigation bar */
nav {
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    font-size: 20px;
    font-weight: 500; 
}

/* Set each navigation link to remove underline, set text style */
nav a {
    display: inline-block;
    /* get rid of underline: https://www.w3schools.com/tags/tag_a.asp */
    text-decoration: none;
    /* adjust margin: https://developer.mozilla.org/en-US/docs/Web/CSS/margin-top */
    margin: 5px;
    color: black; 
}

/* Bold and underline the current navigation link selection */
.navCurrPage {
    font-size: 20px;
    /* bolder text: https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight */
    font-weight: 800;
    color: black;
    text-decoration: underline 5px;
}

/* Set spacing between navigation bar options */
.navGap {
    margin-right: 20px;
}

/*----------------------------------------------------------------------------------------
MAIN PAGE SECTIONS
----------------------------------------------------------------------------------------*/

/* Set the font, size, and color for main page section headers */
.sectionTitle {
    color: #1C19C2;
    font-weight: 800;
    font-size: 80px;
}

/*----------------------------------------------------------------------------------------
ABOUT ME SECTION
----------------------------------------------------------------------------------------*/

/* Set flex-box for about me section (row: content, image) */
#aboutMe {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Set sub flex-box for the first item of the #aboutMe flex-box: Title; Paragraph; Content Link */
.aboutMeInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Set style for about me section header text */
.aboutMeText {
    color: #1C19C2;
    font-weight: 800;
    font-size: 80px;
    margin-top: -30px;
    margin-left: 15px;
}

/* Set style for offset, super-script text included in the about me section header */
#aboutMeSuperscript {
    font-family: "Birthstone Bounce", cursive;
    font-size: 50px; 
    font-weight: 500;
    text-align: center;
    /* text center: https://stackoverflow.com/questions/4801181/vertically-and-horizontally-centering-text-in-circle-in-css-like-iphone-notific */
    line-height: 30px;
    color: #FFA620;
    width: 20px;
    height: 30px; 

}

/* Set style for about me paragraph text box */
.aboutMePara {
    margin-top: 15px;
    margin-bottom: 15px;
    word-break: break-all;
}

/* Set style for about me section contact link button */
.aboutMeContactLink {
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 18px; 
    padding-bottom: 18px;
    background-color: FBF8F8;
    border: 1px solid black;
    text-decoration: none;
    border-radius: 20px;
    align-self: center;
    font-weight: 800;
    /* Drop shadow: figma */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


/* Set Style for the about me section headshot photo */
.aboutMePhoto {
    width: 600px; 
    margin-left: 50px;
    margin-right: 50px;
}

/*----------------------------------------------------------------------------------------
MY WORK SECTION
----------------------------------------------------------------------------------------*/

/* Set the flex-box for the work display selection types: row */
.workDisplaySelect {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

/* Set a style for the sort method buttons */
.sortButton {
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 18px; 
    padding-bottom: 18px;
    background-color: #FBF8F8;
    border: 1px solid black;
    text-decoration: none;
    border-radius: 20px;
    align-self: center;
    font-weight: 800;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Set style for updating color of selected sort method button */
.selectedButton {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

/* Set style for the project listing images in the "My Work" section (project icons) */
.projectListImage {
    padding: 25px;

}

/*----------------------------------------------------------------------------------------
RESUME SECTION
----------------------------------------------------------------------------------------*/

/* Set the style for the resume image */
.resumePhoto {
    width: 900px; 
    margin-left: 50px;
    margin-right: 50px;
}

/*----------------------------------------------------------------------------------------
CONTACT SECTION
----------------------------------------------------------------------------------------*/

/* Establish a flex box for the contact info section as row: Title, Links */
#contactInfo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

/* Set the style of the contact info section title */
#contactInfo .sectionTitle {
    margin-right: 100px;
}

/* Set the style of the contact me link icons */
.contactButtonContainer img {
    height: 50px;
    width: 50px;
    margin: 5px;
}

/*----------------------------------------------------------------------------------------
PROJECT DETAIL PAGE
----------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------
HEADER
----------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------
CONTENT
----------------------------------------------------------------------------------------*/

/* Style for the project detail page images */
.projectImageStyle {
    margin: 10px;
}

#projectDetailImages {
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    max-width: 90%;
}

#projectDetailImages div {
    background-color: orange;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

}

#projectDetailImages div img{
    background-color: violet;
    margin: 5px;
    border: 5px solid violet;
    object-fit: contain;
    overflow: hidden;
    width: auto; 
}

.projectImageFull {
    border: 5px solid red;
}

.projectImageThird {
    border: 5px solid green;
}

.projectImageSplit {
    border: 5px solid blue;
}