body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fbf8f8;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
    margin-bottom: 100px;
}

/* 
Header
*/

/* Establish flex-box for header and navigation */
header {
    display: flex; 
    flex-direction: row;
    margin-bottom: 60px;
}

.headerTitle {
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
    font: 400 30px sans-serif;
}

/* Nav Bar ---------------- */
nav {
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    font-size: 20px;
    font-weight:500; 
}

nav a {
    display: inline-block;
    /* get rid of underline: https://www.w3schools.com/tags/tag_a.asp */
    text-decoration: none;
    /* adjust margin: https://developer.mozilla.org/en-US/docs/Web/CSS/margin-top */
    margin: 5px;
    color:#000; 
}

.navCurrPage {
    font-size: 20px;
    /* bolder text: https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight */
    font-weight: 800;
    color: black;
    text-decoration: underline 5px;
}

.navGap {
    margin-right: 20px;
}


#aboutMe {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.aboutMeInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.aboutMePara {
    margin-top: 15px;
    margin-bottom: 15px;
}

.aboutMeContactLink {
    margin-top: 15px;
    margin-bottom: 15px;
}

.aboutMePhoto {
    width: 600px; 
    height: 600px; 
    margin-left: 50px;
    margin-right: 50px;
}

.superScriptText {
    font-size: 50px; 
    font-weight: 500;
    text-align: center;
    /* text center: https://stackoverflow.com/questions/4801181/vertically-and-horizontally-centering-text-in-circle-in-css-like-iphone-notific */
    line-height: 30px;
    color: #FFA620;
    width: 20px;
    height: 30px; 

}


.headerText {
    color: #1C19C2;
    font-weight: 800;
    font-size: 80px;
    margin-top: -50px; 
}

.sectionTitle {
    color: #1C19C2;
    font-weight: 800;
    font-size: 80px;
}

.resumePhoto {
    width: 900px; 
    margin-left: 50px;
    margin-right: 50px;
}

#contactInfo {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

/*------------------------------------------------------------*/


.div {
    background-color: #fbf8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 80px;
}
.div-2 {
    display: flex;
    width: 100%;
    max-width: 1295px;
    gap: 20px;
    color: #000;
    padding: 0 20px;
}
@media (max-width: 991px) {
    .div-2 {
    max-width: 100%;
    flex-wrap: wrap;
    }
}

.div-4 {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 600;
}
@media (max-width: 991px) {
    .div-4 {
    max-width: 100%;
    }
}
.div-5 {
    display: flex;
    padding-right: 6px;
    gap: 20px;
    justify-content: space-between;
}
@media (max-width: 991px) {
    .div-5 {
    flex-wrap: wrap;
    }
}
.div-6 {
    font-family: Anek Latin, sans-serif;
    font-weight: 800;
}
.div-7 {
    font-family: Anek Latin, sans-serif;
}
.div-8 {
    font-family: Anek Latin, sans-serif;
}
.div-9 {
    font-family: Anek Latin, sans-serif;
}
.div-10 {
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 2px;
    background-color: #000;
    height: 2px;
}
@media (max-width: 991px) {
    .div-10 {
    max-width: 100%;
    }
}
.div-11 {
    margin-top: 219px;
    width: 100%;
    max-width: 1244px;
}
@media (max-width: 991px) {
    .div-11 {
    max-width: 100%;
    margin-top: 40px;
    }
}
.div-12 {
    gap: 20px;
    display: flex;
}
@media (max-width: 991px) {
    .div-12 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
    }
}
.column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0px;
}
@media (max-width: 991px) {
    .column {
    width: 100%;
    }
}
.div-13 {
    display: flex;
    margin-top: 26px;
    flex-grow: 1;
    flex-direction: column;
    padding: 0 20px;
}
@media (max-width: 991px) {
    .div-13 {
    max-width: 100%;
    margin-top: 40px;
    }
}
.div-14 {
    color: #1c19c2;
    letter-spacing: -6.88px;
    font: 800 172px/180px Anek Latin, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
    .div-14 {
    max-width: 100%;
    font-size: 40px;
    line-height: 46px;
    }
}
.div-15 {
    color: #505050;
    margin: 95px 22px 0 0;
    font: 400 20px/30px Anek Latin, sans-serif;
}
@media (max-width: 991px) {
    .div-15 {
    max-width: 100%;
    margin: 40px 10px 0 0;
    }
}
.div-16 {
    border-radius: 11px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-color: rgba(196, 196, 196, 1);
    border-style: solid;
    border-width: 1px;
    background-color: #fbf8f8;
    margin-top: 31px;
    width: 182px;
    max-width: 100%;
    align-items: start;
    color: #2a2a2a;
    justify-content: center;
    padding: 24px 43px;
    font: 600 18px Anek Latin, sans-serif;
}
@media (max-width: 991px) {
    .div-16 {
    padding: 0 20px;
    }
}
.column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
}
@media (max-width: 991px) {
    .column-2 {
    width: 100%;
    }
}
.img {
    aspect-ratio: 0.94;
    object-fit: auto;
    object-position: center;
    width: 100%;
    flex-grow: 1;
}
@media (max-width: 991px) {
    .img {
    max-width: 100%;
    margin-top: 40px;
    }
}
.div-17 {
    disply: flex;
    flex-direction: column;
    overflow: hidden;
    align-self: stretch;
    position: relative;
    display: flex;
    min-height: 1777px;
    margin-top: 188px;
    width: 100%;
    align-items: start;
    padding: 14px 60px 80px;
}
@media (max-width: 991px) {
    .div-17 {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
    }
}
.img-2 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.div-18 {
    position: relative;
    display: flex;
    width: 566px;
    max-width: 100%;
    flex-direction: column;
    margin: 0 0 227px 46px;
}
@media (max-width: 991px) {
    .div-18 {
    margin-bottom: 40px;
    }
}
.div-19 {
    color: #1c19c2;
    font: 800 64px Anek Latin, sans-serif;
}
@media (max-width: 991px) {
    .div-19 {
    max-width: 100%;
    font-size: 40px;
    }
}
.div-20 {
    display: flex;
    margin-top: 25px;
    gap: 20px;
    font-size: 18px;
    color: #2a2a2a;
    font-weight: 600;
}
@media (max-width: 991px) {
    .div-20 {
    max-width: 100%;
    flex-wrap: wrap;
    padding-right: 20px;
    }
}
.div-21 {
    font-family: Anek Latin, sans-serif;
    border-radius: 11px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-color: rgba(196, 196, 196, 1);
    border-style: solid;
    border-width: 1px;
    background-color: #fbf8f8;
    align-items: start;
    justify-content: center;
    padding: 18px 29px;
}
@media (max-width: 991px) {
    .div-21 {
    padding: 0 20px;
    }
}
.div-22 {
    font-family: Anek Latin, sans-serif;
    border-radius: 11px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-color: rgba(196, 196, 196, 1);
    border-style: solid;
    border-width: 1px;
    background-color: #fbf8f8;
    justify-content: center;
    padding: 18px 16px;
}
.div-23 {
    font-family: Anek Latin, sans-serif;
    border-radius: 11px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-color: rgba(196, 196, 196, 1);
    border-style: solid;
    border-width: 1px;
    background-color: #fbf8f8;
    justify-content: center;
    padding: 18px 31px;
}
@media (max-width: 991px) {
    .div-23 {
    padding: 0 20px;
    }
}
.div-24 {
    align-self: end;
    display: flex;
    margin-top: 68px;
    width: 434px;
    max-width: 100%;
    flex-direction: column;
}
@media (max-width: 991px) {
    .div-24 {
    margin-top: 40px;
    }
}
.div-25 {
    color: #1c19c2;
    font: 800 64px Anek Latin, sans-serif;
}
@media (max-width: 991px) {
    .div-25 {
    max-width: 100%;
    font-size: 40px;
    }
}
.div-26 {
    color: #1c19c2;
    margin-top: 339px;
    font: 800 64px Anek Latin, sans-serif;
}
@media (max-width: 991px) {
    .div-26 {
    max-width: 100%;
    margin-top: 40px;
    font-size: 40px;
    }
}
.div-27 {
    margin-top: 41px;
}
@media (max-width: 991px) {
    .div-27 {
    max-width: 100%;
    padding-right: 20px;
    margin-top: 40px;
    }
}
.div-28 {
    gap: 20px;
    display: flex;
}
@media (max-width: 991px) {
    .div-28 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
    }
}
.column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 0px;
}
@media (max-width: 991px) {
    .column-3 {
    width: 100%;
    }
}
.img-3 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 125px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    max-width: 100%;
}
@media (max-width: 991px) {
    .img-3 {
    margin-top: 17px;
    }
}
.column-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
}
@media (max-width: 991px) {
    .column-4 {
    width: 100%;
    }
}
.img-4 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 125px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    max-width: 100%;
}
@media (max-width: 991px) {
    .img-4 {
    margin-top: 17px;
    }
}
.column-5 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
}
@media (max-width: 991px) {
    .column-5 {
    width: 100%;
    }
}
.img-5 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 125px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    max-width: 100%;
}
@media (max-width: 991px) {
    .img-5 {
    margin-top: 17px;
    }
}
.div-29 {
    color: #1c19c2;
    margin-top: 549px;
    font: 800 64px Anek Latin, sans-serif;
}
@media (max-width: 991px) {
    .div-29 {
    max-width: 100%;
    margin-top: 40px;
    font-size: 40px;
    }
}
.img-6 {
    aspect-ratio: 0.68;
    object-fit: auto;
    object-position: center;
    width: 100%;
    margin-top: 22px;
    max-width: 1288px;
}
@media (max-width: 991px) {
    .img-6 {
    max-width: 100%;
    }
}