/* Portfolio Style Guide

---- COLOR DEFINITION ----
Portfolio Blue*:         #1C19C2
Portfolio Orange:       #FFA620
Portfolio Background*:   #FBF8F8
*Matches resume and portfolio colors

---- FONT DEFINITION -----
Portfolio Text:         Anek Latin
Cursive Text:           Birthstone Bounce

*/

/*
.navStyle:hover {
    font-size: 20px;
    /* bolder text: https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight 
    font-weight: 800;
    color: black;
    text-decoration: underline 5px;
} */

/*----------------------------------------------------------------------------------------
GENERAL PAGE
----------------------------------------------------------------------------------------*/

/* Define a style for the main page including color, margins, fonts, etc. */

/* Avoid purple links after they have been clicked */
/* https://stackoverflow.com/questions/4383460/dont-change-link-color-when-a-link-is-clicked */
a {
    color: inherit;
}

/* Provide default style rules for the entire site: font, background, margins, centering */
body {
    font-family: "Anek Latin", sans-serif;
    background-color: #FBF8F8;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0%;
    margin-bottom: 3%;
}

/*----------------------------------------------------------------------------------------
HEADER
----------------------------------------------------------------------------------------*/

/* Establish flex-box for header and navigation */
header {
    display: flex; 
    flex-direction: row;
    overflow: hidden;
    height: 100px;
    align-items: center;
    background-color: #FBF8F8;
}

/* Set style for page header (top left of page) */
.headerTitle {
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
    font: 400 30px sans-serif;
    text-decoration: none;
}

/* From sticky navbar tutorial: https://stackoverflow.com/questions/57910573/fix-jump-when-creating-sticky-scroll-navbar */
.sticky {
    position: sticky;
    top: 0;
    width: 101%;
    z-index: 100; /* Ensure the sticky navbar is always on top by changin its z-index to a high number */
}

/*----------------------------------------------------------------------------------------
NAVIGATION BAR
----------------------------------------------------------------------------------------*/

/* Set the font and establish flex-box of navigation bar */
nav {
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    font-size: 20px;
    font-weight: 500; 
}

/* Set each navigation link to remove underline, set text style */
nav a {
    display: inline-block;
    /* get rid of underline: https://www.w3schools.com/tags/tag_a.asp */
    text-decoration: none;
    /* adjust margin: https://developer.mozilla.org/en-US/docs/Web/CSS/margin-top */
    margin: 5px;
    color: black; 
}

/* Bold and underline the current navigation link selection */
.navStyle:hover {
    font-size: 20px;
    /* bolder text: https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight */
    font-weight: 800;
    color: black;
    text-decoration: underline 2px;
}

/* Set spacing between navigation bar options */
.navGap {
    margin-right: 20px;
}

/*----------------------------------------------------------------------------------------
MAIN PAGE SECTIONS
----------------------------------------------------------------------------------------*/

/* Set the font, size, and color for main page section headers */
.sectionTitle {
    color: #1C19C2;
    font-weight: 800;
    font-size: 80px;
    padding-top: 3%;
    padding-bottom: 3%;
}

/* Set the sections to take up 100% of the width of their parent (body which has page width of 80%) */
section {
    width: 100%;
}

/*----------------------------------------------------------------------------------------
ABOUT ME SECTION
----------------------------------------------------------------------------------------*/

/* Set flex-box for about me section (row: content, image) */
#aboutMe {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 4%;
    margin-bottom: 6%;
}

/* Set sub flex-box for the first item of the #aboutMe flex-box: Title; Paragraph; Content Link */
.aboutMeInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 45%;
    margin-right:5%
}

/* Set style for about me section header text */
.aboutMeText {
    color: #1C19C2;
    font-weight: 800;
    font-size: 120px;
    margin-top: -30px;
    margin-left: 15px;
}

/* Set style for offset, super-script text included in the about me section header */
#aboutMeSuperscript {
    font-family: "Birthstone Bounce", cursive;
    font-size: 80px; 
    font-weight: 500;
    text-align: center;
    /* text center: https://stackoverflow.com/questions/4801181/vertically-and-horizontally-centering-text-in-circle-in-css-like-iphone-notific */
    line-height: 30px;
    color: #FFA620;
    width: 20px;
    height: 30px; 

}

/* Set style for about me paragraph text box */
.aboutMePara {
    margin-bottom: 40px;
    font-size: 24px;  
    text-align: justify;
    line-height: 180%;
}

.aboutMeTitle {
    margin-top: 3%;
    margin-bottom: 4%;
}

/* Set style for about me section contact link button */
.aboutMeContactLink {
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 18px; 
    padding-bottom: 18px;
    background-color: FBF8F8;
    border: 1px solid black;
    text-decoration: none;
    border-radius: 20px;
    width: 80px;
    text-align: center;
    font-weight: 800;
    /* Drop shadow: figma */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Set style for the image container, including aligning the image in the center */
.aboutMePhotoContainer {
    width: 45%;
    margin-left: 5%;
    text-align: center;
}

/* Set Style for the about me section headshot photo (full width of container) */
.aboutMePhoto {
    width: 100%; 
}

/*----------------------------------------------------------------------------------------
MY WORK SECTION
----------------------------------------------------------------------------------------*/

/* Set a margin on the top of the "My Work" page section */
#myWork {
    margin-top: 2%;
    scroll-margin-top: 80px;
}

/* Set the flex-box for the work display selection types: row */
.workDisplaySelect {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

/* Ensure the projects take up 100% of the section width (80% of page) */
#projectList {
    width: 100%;
    margin-top: 2%;
}

/* Set up a grid to place the images once sorted by type (3 columns) */
.sortedListElement {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 2%;
}

/* In the grid, images and text should be centered, image aspect ratio should be square */
.centerImagesInGrid {
    aspect-ratio: 1;
    position: relative;
    text-align: center;
}

/* Add title that will appear on hover to the project type sort gallery */
.projectListTitleTypeSort {
    position: absolute;
    top: 30%;
    left: 0;
    background-color: transparent;
    width: 100%;
    text-align: center;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    text-decoration: none;
    color: black;
    font-size: 2vw; /*Change font size based on screen width: https://www.geeksforgeeks.org/font-scaling-based-on-width-of-container-using-css/ */
    font-weight: 800;
}

/*-----------------------------------------------------------------------------------------------*/

/* Set a style for the sort method buttons */
.sortButton {
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 18px; 
    padding-bottom: 18px;
    background-color: #FBF8F8;
    border: 1px solid black;
    text-decoration: none;
    border-radius: 20px;
    align-self: center;
    font-weight: 800;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Set style for updating color of selected sort method button */
.selectedButton {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

/* Style headers for each of the project types when sorted by type */
.typeSortHeader {
    font-size: 36px;
    color: #1C19C2;
    margin-top: 5%;
    font-weight: bold;
}

/* Set style for the project listing images (by type) in the "My Work" section (project icons) */
.projectListImage {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    height: 70%;
    width: 70%;
    border-radius: 15%;
}

/* Set style for the project listing images (by date) in the "My Work" section (project icons) */
.projectListImageTimeline {
    padding: 0px;
    margin: 0px;
    height: 150px;
    width: 150px;
    border-radius: 10%;
}

/* Set a hover style for the project listing image (by date) s in the "My Work" section */
.timelineProjectItemsHoverTitleTopRow {
    position: absolute;
    top: 30%;
    left: 0;
    background-color: transparent;
    width: 100%;
    text-align: center;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: 800;
}

/* Set a hover style for the project listing image (by date) s in the "My Work" section */
.timelineProjectItemsHoverTitleBottomRow {
    position: absolute;
    top: 50%;
    left: 0;
    background-color: transparent;
    width: 100%;
    text-align: center;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: 800;
}

/* Add padding and styling to the timeline dates when on bottom of image (top row of images) */
.timelineDateTextTopRow {
    margin-top: 15px;
    font-weight: bold;
    color: #1C19C2;
}

/* Add padding and styling to the timeline dates when on top of image (bottom row of images) */
.timelineDateTextBottomRow {
    margin-bottom: 15px;
    font-weight: bold;
    color: #1C19C2;
}

/* Center the contents of the timeline points */
.timeline__item {
    text-align: center;
}

/* Style a div so that the globe is in the middle of the page */
.centerMapDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

/* Style a div to look like a dot that can be placed on the globe (location sort) */
.projectMarker {
    /*position: absolute; */
    width: 30px;
    height: 30px;
    /*background-color: #000; */
    /*border-radius: 50%; */
    cursor: pointer;
}

/* Set style for the project listing images (by location) in the "My Work" section (project icons) */
.projectListImageMap {
    position: absolute;
    display: none;
    width: 200px;
    height: 200px;
    top: -200px;
    border-radius: 10%;
    opacity: 0.5;
}

/* Set style for the project titles that appear on hover of the location globe */
.projectListTitleMap {
    position: absolute;
    display: none;
    background-color: transparent;
    width: 100%;
    width: 200px;
    height: 200px;
    top: -180px;
    text-align: center;
    transition: opacity 0.3s ease-in-out;
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: 800;
}

/*----------------------------------------------------------------------------------------
CONTACT SECTION
----------------------------------------------------------------------------------------*/

/* Establish a flex box for the contact info section as row: Title, Links */
#contactInfo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10%;
}

/* Set the style of the contact info section title */
#contactInfo .sectionTitle {
    margin-right: 10%;
}

/* Set the style of the contact me link icons */
.contactButtonContainer img {
    height: 50px;
    width: 50px;
    margin-right: 30px;
    padding-top: 20px;
}

/*----------------------------------------------------------------------------------------
PROJECT DETAIL PAGE
----------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------
HEADER
----------------------------------------------------------------------------------------*/

/* Style the project detail page header: project name */
#projectDetailHeader {
    color: #1C19C2;
    font-weight: 800;
    font-size: 80px;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

/* Style the project detail page info: box describing project attributes */
#projectInfoBox {
    width: 100%;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Style the project detail page info box "project type" section */
#projectInfoBoxType {
    font-size: 24px;
    width: 150px;
    text-align: left;
}

/* Style the project detail page info box "project location" section */

#projectInfoBoxLocation {
    font-size: 24px;
    width: 500px;
    text-align: center;
}

/* Style the project detail page info box "project date" section */
#projectInfoBoxDate {
    font-size: 24px;
    width: 150px;
    text-align: right;
}

/* Style the project detail page project description */
#projectDescription {
    font-size: 18px;
    margin-top: 2%;
    margin-bottom: 2%;
    line-height: 150%;
    width: 80%;
}

/*----------------------------------------------------------------------------------------
CONTENT
----------------------------------------------------------------------------------------*/

/* Style for the project detail page images */
.projectImageStyle {
    margin: 10px;
}

/* Style flex-box container to hold project images */
#projectDetailImages {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Style flex-box containers to hold project image of the same set (set of 1, set of 2, set of 3 */
#projectDetailImages div {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

/* style individual project images */
#projectDetailImages div img{
    margin: 5px;
    object-fit: contain;
    overflow: hidden;
}

/* Style individual project videos */
#projectDetailImages div video{
    margin: 5px;
    object-fit: contain;
    overflow: hidden;
    width: auto; 
}

/* Ensure images in their own set take up full 100% width of container */
.projectImageFull {
    width: 100%;
}

/* Ensure videos take up full 100% width of container (videos never share a row)*/
.projectVideoFull {
    width: 100%;
}